*
	margin 0
	padding: 0
ul,ol,li
	list-style none
a
	text-decoration none	
body
	font-family: "Microsoft Yahei"	
.main
	width 100%
	height 100%
html,body,#wrap
	height 100%
.clearfix
	zoom 1
.clearfix:after
	content ''
	height 0
	display block
	clear both	


				